*~
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
*cheddar.xml
gnatinspect.db

aclocal.m4
doc/ocarina.info
doc/stamp-vti
doc/version.texi
resources/runtime/polyorb-hi-ada
resources/runtime/polyorb-hi-c
resources/runtime/python/ocarina.pyc
support/mdate-sh
support/texinfo.tex
tools/compare.py
log.*
support/headers_ocarina*

auto.cgpr
compile
*.pyc
