*~
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
*cheddar.xml
gnatinspect.db

aclocal.m4
doc/ocarina.info
doc/stamp-vti
doc/version.texi
resources/runtime/aadlib
resources/runtime/polyorb-hi-ada
resources/runtime/polyorb-hi-c
resources/runtime/python/ocarina.pyc
support/mdate-sh
support/texinfo.tex
tools/compare.py
log.*
support/headers_ocarina*

auto.cgpr
compile
*.pyc

src/*/objects-stamp
src/*/libs*
**/*/objects
**/*nodes.ad?

ocarina-config
projects/ocarina.gpr
src/config/ocarina-configuration.adb
src/main/ocarina
support/strip_wrapper.sh
tools/gendoc.py
tools/mknodes/mknodes
resources/sedscript
projects-distrib/ocarina/ocarina_core.gpr
src/python/ocarina-me_aadl-aadl_instances-nodes-python.adb
src/python/ocarina-me_aadl-aadl_instances-nodes-python.ads
src/python/ocarina-me_aadl-aadl_tree-nodes-python.adb
src/python/ocarina-me_aadl-aadl_tree-nodes-python.ads
src/python/ocarina_me_aadl_aadl_instances_nodes.py
src/python/ocarina_me_aadl_aadl_tree_nodes.py