/* Global settings */
body {}
body {
	background-color: white;
	position: absolute;
	font-size: medium;
	font-family: Verdana;
//	padding-left: 7em;
	top: 3em;
}

div.navigation {
	font-size: small; 
	padding-left: 0; 
	padding-right: 0; 
	text-align: right
}

div#menu {
	text-align: left;
	position: fixed;
	left: 1pt;
	bottom: auto;
	top: 2em;
	right: auto;
	padding-right: 1ex;
	padding-left: 1em;
	padding-top: 1ex;
	padding-bottom: 1ex;
	border-width: 3pt;
	background-color: transparent;  
	border-color: red; 
	border-left-style: solid
}

div#menu span.item {
	display: block;
	background-color: transparent;  
}

table.navigation {
	font-size: small
} 


/* Paragraphs */
p, blockquote {
	color: black; 
	text-indent: 1em; 
	text-align: justify
}


p {
	margin-bottom: .5em; 
	margin-top: 1px
}

p kbd 
{
  background-color: ivory
}

div.important {
	background-color: lightgray; 
	border-color: red; 
	border-style: solid;  
	border-width: 1pt
}
p.important {
	color: red
}
p.brut {
	text-indent: 0
}
p.brut:first-letter {
	font-size: 100%; 
	font-weight: normal
}

/* Sections */
div {
	border-style: none; 
	padding-left: 1em; 
	padding-right: 1em; 
	margin-top: 2px; 
	margin-bottom: 2px
}


/* Menus */

div.action {
	background-color: ivory; 
	border-color: lightgray; 
	border-style: solid; 
	border-width: 1pt 1pt 1pt 1pt; 
	font-size: small; 
	text-align: left
}

div.special 
{
  border-color: lightgray; 
  border-style: solid; 
  border-width: 0 0 0 4pt
}


/* Docbook special settings */

h3.subtitle {
	text-align: center
}

h1.title {
	margin-bottom: 10pt;
}

div.authorgroup {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	display: block;
}

div.author {
	display: inline;
}

h3.author {
	display: inline;
	font-style: normal;
	color: black;
	font-size: medium;
}

p.copyright {
	margin-top: 1em;
	text-align: center;
}

/* End docbook settings */


/* hors-texte */

pre {
	background-color: whitesmoke;
	border-color: lightcoral;
	border-style: solid;
	border-width: 0pt 1pt 1pt 0pt;
}

.hors-texte {
	background-color: lightgray;  
	border-color: lightcoral; 
	border-style: solid;
	border-width: 1pt; 
	padding-left: 1em; 	
	padding-right: 1em; 
	text-align: justify
}

/* Tables */

table.hors-texte {
	margin: auto; 
	font-size: 100%;
	border-width: 1pt 1pt 1pt 1pt
}

table.hors-texte td {
	padding-left: 1ex; 
	padding-right: 1ex
}

table.hors-texte tr.sep {
	padding-top: 1ex
}


h1, h2, h3, h4, h5, h6 
{
  color: black; 
  text-decoration: none; 
  font-weight: bold;
  padding: 0pt
}

h1 {
	font-size: larger larger larger;
	text-align: center; 
	margin-bottom: 24pt
}
h2 {
	font-size: larger larger;
	margin-left:      0; 
	margin-top:       24pt; 
	margin-bottom:    14pt;
	border-color:     red;
	border-bottom-style:     solid;
	border-width:     1pt;
	padding:          2pt; 
	margin-left:      0; 
	margin-right:     0; 
}
h3 {
	font-size: larger;
	margin-left: 1em; 
	margin-bottom: 1ex;
	color: red;	
}
h4, h5, h6 {
	font-size: normal;
	margin-left: 2em; 
	margin-bottom: 1em
}

h4 {
	text-decoration: underlined
}
h5 {
	font-style: italic
}


h2.special 
{
  border-style:     solid;
  border-width:	    1pt;
  border-color:     lightgray;
  padding:          2pt; 
}

img.flottant {
	float: right;
	clear: both;
	margin: 2em;
}

/* Lists */

li, dd 
{
  text-align: justify
}

dt {
	font-style: normal; 
	margin-top: 1em
}
dd {
	font-style: normal; 
	margin-left: 4em
}

dd.sdd {
	margin-left: 5em
}

dd ul {margin-top: 0}
li dl {margin-top: 0}
ul {list-style-type: square}
ul ul {list-style-type: disc}
ul ul ul {list-style-type: circle}

/* Addresses */

address {
	margin-top: 1ex; margin-bottom: 1ex
}
address.poste {
	font-style: italic
}
address.email {
	font-style: normal
}
address.phone {
	font-style: oblic
}

/* Links */

a:link, a:visited {
	color: darkred;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color:  red;
	padding-bottom: 0px
}

a:hover, a:active {
	color: red; 
	text-decoration: none;
	border-bottom-color: black;
	border-bottom-style: solid
}

